html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #333333;;
    color: #414042;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 2.5vh;
}

.slideshow > * {
    padding: 4vh 10vw;
	margin: 0;
    height: 92vh;
    background: white;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5vh 0 #000;
    transform: scale(0.9);
}

h1 {
	font-size: 260%;
}

h2 {
	font-size: 220%;
}

h3 {
	font-size: 200%;
}

.slideshow.with-javascript:not(.fullscreen)::after
{
    content: 'Trykk [ f ] for fullskjerm - naviger med piltaster, space eller hjul';
    color: white;
    position: absolute;
    top: 0.5em;
    text-align: center;
    width: 100%;
    font-size: 0.5em;
    opacity: 0.5;
}

/* Special handling for javascript (and non-javascript) support */
@keyframes slidein {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.slideshow.fullscreen > *:not(.visible) {
    display: none;
}

.slideshow.fullscreen > * {
    transform: none;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-name: slidein;
}

.slideshow.fullscreen {
    overflow: hidden;
}

/* Title slides */
.slideshow > h2,
.slideshow > h3,
.slideshow > header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
